<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bah.navyranksapp"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>US Military Rank and Reference</name>

    <description>
        Tool created by NETC to aid recruits with distinguishing rates and ranks.
    </description>

    <author href="http://www.boozallen.com" email="cronin_jonathan@bah.com">
        NETC - Naval Education Training Command
    </author>

    <plugin name="cordova-plugin-screen-orientation" spec="1.4.0" source="pgb" />
    <plugin name="com.indigoway.cordova.whitelist.whitelistplugin" spec="1.1.1" source="pgb" />


    <access origin="*"/>
    <allow-navigation href="*" />

    <preference name="permissions" value="none" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />

    <icon src="icon.png" />
    <gap:splash src="splash.png" />
    <!-- iPhone and iPod touch -->
    <gap:splash src="Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="Default@2x.png" gap:platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <gap:splash src="Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />

    
</widget>